html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #ffffdd, rgb(150, 78, 78));

}

/* ------Header------ */

#titulo--header{
    font-size: 3rem;
    margin-top: auto;   
}

#header{
    background-color: #ffffdd;
    height: 7.5rem;
    text-align: center;
}


/* ------Main------ */

.titulo--main {
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
}

.container--indicaciones{
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
}
.container-card{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

.card{
    margin: 5px;    
}

.card:hover{
    box-shadow: 5px 5px 10px;
}

.negocio{
    margin: 5px;
    line-height: 2rem;
    font-size: 2rem;
    border: 2px solid #000;
    border-radius: 0.5rem;
}

.muestraRubro{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}